In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [2]:
x_train = pd.read_csv('Downloads\cmf-2022-bank-scoring-case\X_train.csv')
x_test = pd.read_csv('Downloads\cmf-2022-bank-scoring-case\X_test.csv')
y_sample = pd.read_csv('Downloads\cmf-2022-bank-scoring-case\y_test_sample.csv')
y_train = pd.read_csv('Downloads\cmf-2022-bank-scoring-case\y_train.csv')

In [3]:
indexes_test = x_test['index']
x_test.drop(['index'], axis = 1, inplace = True)

In [4]:
x_train['target'] = y_train

In [5]:
x_train.drop(x_train[x_train.age < 18].index, inplace = True)
x_train.drop(x_train[x_train.monthly_income > 1000000].index, inplace = True)

In [6]:
y = x_train.target
x_train.drop(['target'], axis = 1, inplace = True)

In [7]:
x_train['Test'] = False
x_test['Test'] = True

In [8]:
data = pd.concat([x_train, x_test])

In [9]:
data.monthly_income = data.monthly_income.fillna(data.monthly_income.mean())
data.family_members = data.family_members.fillna(data.family_members.mean())

In [10]:
train = data[data.Test == 0].reset_index(drop = True)
x_test = data[data.Test == 1].reset_index(drop = True)

In [11]:
train.drop(['Test'], axis = 1, inplace = True)
x_test.drop(['Test'], axis = 1, inplace = True)

In [12]:
x = train.copy()

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [14]:
scaler.fit(x)

StandardScaler()

In [15]:
scaled_features = scaler.transform(x)

In [16]:
scaled_data = pd.DataFrame(scaled_features, columns = x.columns)

In [17]:
x = scaled_data

In [18]:
test_data = scaler.transform(x_test)

In [19]:
x_training_data, x_test_data, y_training_data, y_test_data = train_test_split(x, y, test_size = 0.25)

In [20]:
model = KNeighborsClassifier(n_neighbors = 1)
model.fit(x_training_data, y_training_data)
predictions = model.predict(x_test_data)
print(classification_report(y_test_data, predictions))

              precision    recall  f1-score   support

           0       0.94      0.96      0.95     24493
           1       0.25      0.20      0.22      1784

    accuracy                           0.90     26277
   macro avg       0.59      0.58      0.58     26277
weighted avg       0.90      0.90      0.90     26277

In [21]:
y_pred = model.predict_proba(test_data)

In [22]:
answers_l = pd.DataFrame()
answers_l['index'] = indexes_test
answers_l['target'] = y_pred[:,1]
answers_l

        index  target
0      143522     0.0
1      116747     0.0
2       66075     0.0
3      133292     0.0
4       83134     0.0
...       ...     ...
38871   44475     0.0
38872  103189     0.0
38873   48732     0.0
38874  135410     0.0
38875   73457     0.0

[38876 rows x 2 columns]

In [23]:
answers_l.to_csv('Downloads/Data/knn.csv', index = False)

In [24]:
data

,credit_card_utilization,age,overdue_30_59_days,debt_to_income,monthly_income,credits_loans,overdue__more_than_90_days,mortgage_loans,overdue_60_89_days,family_members,Test
0,0.000000,56,0,0.504328,6823.894458,9,0,1,0,5.0,False
1,0.170659,45,1,2.405860,356.580765,5,0,0,0,0.0,False
2,0.342176,75,1,0.445066,20349.895825,9,0,3,0,0.0,False
3,0.046219,50,0,0.814508,2894.368968,12,0,1,0,3.0,False
4,0.679556,58,0,0.390311,24833.227614,15,0,4,0,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...
38871,0.731740,39,0,0.251005,3474.894386,5,0,0,0,0.0,True
38872,0.010959,70,0,0.152539,4170.426464,14,0,1,0,0.0,True
38873,0.084612,52,0,5288.053772,6648.526102,15,0,2,0,0.0,True
38874,0.741717,51,0,0.378356,5441.458787,9,0,2,0,0.0,True
38875,0.014229,65,0,0.002321,199556.312925,3,0,1,0,0.0,True